---
import BaseLayout from "@/layouts/base.layout.astro";

import { HeaderNavigation } from "@/components/ui/header-navigation";

import { navigation } from "../lib/navigation";
import Footer from "../components/widgets/footer.astro";
import JoinUs from "../components/widgets/join-us.astro";

import { Image } from "astro:assets";
import CoverImageLandscape from "@/media/cover-photo-landscape.jpg";
import CoverImagePortrait from "@/media/cover-photo-portrait.jpeg";
import GroupBadge from "@/media/group-badge.png";

const currentPath = "/home";

interface PageProps {
  title: string;
}

const { title }: PageProps = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <HeaderNavigation
    client:load
    links={navigation}
    currentPath={currentPath}
    isTransparent={true}
  />

  <div
    class="relative bg-gradient-to-r from-gradient-start to-gradient-end mt-[-72px]"
  >
    <div class="absolute inset-0">
      <Image
        src={CoverImageLandscape}
        alt="A photo of 2 scouts ziplining"
        quality={5}
        class="landscape:block portrait:hidden h-full w-full object-cover object-center opacity-60"
      />
      <Image
        src={CoverImagePortrait}
        alt="The glow of a campfire"
        quality={5}
        class="portrait:block landscape:hidden h-full w-full object-cover object-center opacity-60"
      />
    </div>
    <div
      class="relative z-10 mx-auto flex h-screen max-w-screen-xl flex-col justify-center px-8 text-center text-white"
    >
      <Image
        src={GroupBadge}
        class="mx-auto w-52 md:w-72 p-3"
        width={GroupBadge.width}
        quality={5}
        alt="The 1st Chertsey Scout Group badge"
      />
      <h1
        class="pb-6 text-4xl font-extrabold leading-tight drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] md:text-5xl"
      >
        <span class="block md:inline-block">1st Chertsey</span>
        <span class="block md:inline-block">Scout Group</span>
      </h1>
      <p
        class="pb-8 text-lg drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] md:text-xl"
      >
        Home of Scouting in Chertsey
      </p>
    </div>
  </div>

  <JoinUs />

  <Footer />
</BaseLayout>
